## SQLite = sistema de gestión de bases de datos relacionales

In [1]:
import sqlite3

In [3]:
coneccion = sqlite3.connect('basededatos1.db')

In [6]:
coneccion.close()

### crear una nueva tabla

In [7]:
coneccion = sqlite3.connect('basededatos1.db')
cursor = coneccion.cursor()
cursor.execute("CREATE TABLE PERSONAS (nombre TEXT, apellido1 TEXT, apellido2 TEXT, edad INTEGER)")
coneccion.commit()

In [9]:
coneccion.close()

## insertar una fila a la base de datos

In [11]:
coneccion = sqlite3.connect('basededatos1.db')
cursor = coneccion.cursor()
cursor.execute("INSERT INTO PERSONAS VALUES ('Antonio', 'Perez', 'Gomez', 35)")
coneccion.commit()
coneccion.close()

### insertar varios registros a la vez

In [8]:
coneccion = sqlite3.connect('basededatos1.db')
cursor = coneccion.cursor()

lista = [('Benjamin', 'Martinez', 'Osorio', 27), ('Damaris', 'Flores', 'Rincon', 22), ('Kori', 'Martinez', 'Flores', 8)]
cursor.executemany("INSERT INTO PERSONAS VALUES (?,?,?,?)", lista)
coneccion.commit()
coneccion.close()

In [9]:
conexion = sqlite3.connect('basededatos1.db')
cursor = conexion.cursor()
lista1 = [('Juan', 'García', 'López', 25), ('María', 'Rodríguez', 'Martínez', 32), ('Carlos', 'López', 'González', 40), ('Ana', 'Hernández', 'Ramírez', 28), ('Pedro', 'Sánchez', 'Vargas', 45), ('Laura', 'Gómez', 'Torres', 33), ('Luis', 'González', 'Gómez', 29), ('Sofía', 'Pérez', 'Ruíz', 37), ('Diego', 'Torres', 'Hernández', 31), ('Marta', 'Jiménez', 'Silva', 42), ('José', 'Martínez', 'García', 36), ('Carmen', 'Flores', 'Soto', 39), ('Andrés', 'Vargas', 'Luna', 27), ('Paula', 'Ruíz', 'Morales', 34), ('Fernando', 'Silva', 'Pérez', 43), ('Mónica', 'Ramírez', 'Sánchez', 41), ('Daniel', 'Luna', 'Hernández', 30), ('Lucía', 'Gómez', 'Flores', 35), ('David', 'García', 'Martínez', 38), ('Patricia', 'Hernández', 'González', 26), ('Roberto', 'Soto', 'Torres', 44), ('Silvia', 'Torres', 'López', 23), ('Jorge', 'Martínez', 'Jiménez', 29), ('Elena', 'Vargas', 'Pérez', 32), ('Ricardo', 'Hernández', 'Silva', 37), ('Isabel', 'López', 'Ruíz', 31), ('Alejandro', 'González', 'Vargas', 26), ('Natalia', 'Flores', 'Soto', 40), ('Alberto', 'Silva', 'Luna', 33), ('Beatriz', 'Ruíz', 'García', 38), ('Gabriel', 'Pérez', 'Torres', 24), ('Clara', 'Sánchez', 'Gómez', 35), ('Miguel', 'Jiménez', 'Hernández', 28), ('Raquel', 'García', 'Flores', 39), ('Hugo', 'Torres', 'Martínez', 30), ('Marina', 'Soto', 'Vargas', 42), ('Andrea', 'López', 'Silva', 27), ('Adrián', 'Martínez', 'Pérez', 34), ('Valeria', 'Hernández', 'Ruíz', 41), ('Sergio', 'Gómez', 'Luna', 23), ('Cecilia', 'Vargas', 'González', 36), ('Pablo', 'Silva', 'Flores', 29), ('Julia', 'Ruíz', 'Sánchez', 44), ('Manuel', 'Pérez', 'Jiménez', 25), ('Carolina', 'Flores', 'Torres', 32)]
cursor.executemany("INSERT INTO PERSONAS VALUES (?,?,?,?)", lista1)
conexion.commit()
conexion.close()

### consultar datos de la base de datos

In [20]:
conexion= sqlite3.connect('basededatos1.db')
cursor = conexion.cursor()
cursor.execute("SELECT * FROM PERSONAS")
personas = cursor.fetchall()
print(type(personas))

<class 'list'>

In [21]:
for persona in personas:
    print(persona)
conexion.close()

('Antonio', 'Perez', 'Gomez', 35)
('Benjamin', 'Martinez', 'Osorio', 27)
('Damaris', 'Flores', 'Rincon', 22)
('Kori', 'Martinez', 'Flores', 8)

### consultar datos con WHERE (una determinada condicion)

In [10]:
conexion = sqlite3.connect('basededatos1.db')
cursor =conexion.cursor()
cursor.execute("SELECT * FROM PERSONAS WHERE edad < 20")
persona_seleccionadas=cursor.fetchall()
print(persona_seleccionadas)
conexion.close()

[('Kori', 'Martinez', 'Flores', 8)]

### consultar datos y ordenarlos

In [11]:
conexion = sqlite3.connect('basededatos1.db')
cursor = conexion.cursor()
cursor.execute("SELECT * FROM PERSONAS ORDER BY edad")
lista_edad=cursor.fetchall()
for persona in lista_edad:
    print (persona)
conexion.close()

('Kori', 'Martinez', 'Flores', 8)
('Damaris', 'Flores', 'Rincon', 22)
('Silvia', 'Torres', 'López', 23)
('Sergio', 'Gómez', 'Luna', 23)
('Gabriel', 'Pérez', 'Torres', 24)
('Juan', 'García', 'López', 25)
('Manuel', 'Pérez', 'Jiménez', 25)
('Patricia', 'Hernández', 'González', 26)
('Alejandro', 'González', 'Vargas', 26)
('Benjamin', 'Martinez', 'Osorio', 27)
('Andrés', 'Vargas', 'Luna', 27)
('Andrea', 'López', 'Silva', 27)
('Ana', 'Hernández', 'Ramírez', 28)
('Miguel', 'Jiménez', 'Hernández', 28)
('Luis', 'González', 'Gómez', 29)
('Jorge', 'Martínez', 'Jiménez', 29)
('Pablo', 'Silva', 'Flores', 29)
('Daniel', 'Luna', 'Hernández', 30)
('Hugo', 'Torres', 'Martínez', 30)
('Diego', 'Torres', 'Hernández', 31)
('Isabel', 'López', 'Ruíz', 31)
('María', 'Rodríguez', 'Martínez', 32)
('Elena', 'Vargas', 'Pérez', 32)
('Carolina', 'Flores', 'Torres', 32)
('Laura', 'Gómez', 'Torres', 33)
('Alberto', 'Silva', 'Luna', 33)
('Paula', 'Ruíz', 'Morales', 34)
('Adrián', 'Martínez', 'Pérez', 34)
('Lucía', 'Gómez', 'Flores', 35)
('Clara', 'Sánchez', 'Gómez', 35)
('José', 'Martínez', 'García', 36)
('Cecilia', 'Vargas', 'González', 36)
('Sofía', 'Pérez', 'Ruíz', 37)
('Ricardo', 'Hernández', 'Silva', 37)
('David', 'García', 'Martínez', 38)
('Beatriz', 'Ruíz', 'García', 38)
('Carmen', 'Flores', 'Soto', 39)
('Raquel', 'García', 'Flores', 39)
('Carlos', 'López', 'González', 40)
('Natalia', 'Flores', 'Soto', 40)
('Mónica', 'Ramírez', 'Sánchez', 41)
('Valeria', 'Hernández', 'Ruíz', 41)
('Marta', 'Jiménez', 'Silva', 42)
('Marina', 'Soto', 'Vargas', 42)
('Fernando', 'Silva', 'Pérez', 43)
('Roberto', 'Soto', 'Torres', 44)
('Julia', 'Ruíz', 'Sánchez', 44)
('Pedro', 'Sánchez', 'Vargas', 45)

## borrar datos en tabla PERSONAS

In [13]:
conexion=sqlite3.connect('basededatos1.db')
cursor = conexion.cursor()
cursor.execute("DELETE FROM PERSONAS WHERE edad >= 40")
conexion.commit()
conexion.close()

### actualizar datos

In [14]:
conexion = sqlite3.connect('basededatos1.db')
cursor = conexion.cursor()
cursor.execute("UPDATE PERSONAS SET edad = 28 WHERE nombre = 'Benjamin'")
conexion.commit()
conexion.close()

# ejercicio 1

In [15]:
conexion = sqlite3.connect('basededatos1.db')
cursor = conexion.cursor()
cursor.execute("CREATE TABLE PRODUCTOS (id INTEGER, nombre TEXT, precio INTEGER)")
conexion.commit()
conexion.close()

In [16]:
productos = [
    (1, "Lápiz", 199),
    (2, "Cuaderno", 499),
    (3, "Bolígrafo", 249),
    (4, "Calculadora", 999),
    (5, "Papel", 349),
    (6, "Grapadora", 699),
    (7, "Notas adhesivas", 149),
    (8, "Cinta adhesiva", 299),
    (9, "Resaltador", 199),
    (10, "Tijeras", 399)
]

In [17]:
conexion = sqlite3.connect('basededatos1.db')
cursor = conexion.cursor()
cursor.executemany("INSERT INTO PRODUCTOS VALUES (?,?,?)", productos)
conexion.commit()
conexion.close()