# Funciones avanzadas

### Funciones Generadoras

In [ ]:
for numero in range (0,11):
    print(numero)

for n in range(11):
    print(n)

In [4]:
def pares(maximo):
    for numero in range(maximo):
        if (numero % 2 == 0):
            yield numero

In [5]:
for numero in pares(11):
    print(numero)

0
2
4
6
8
10

In [15]:
def pares(maximo):
    for numero in range(maximo):
        if (numero % 2 == 0):
            return numero
        

pares(11)

0

In [12]:
def pares(maximo):
    for numero in range(maximo):
        if (numero % 2 == 0):
            print(numero)

pares(11)

0
2
4
6
8
10

### filter - Funcion para filtrar resultados segun una condicion

In [16]:
def positivo (numero):
    if(numero > 0):
        return True
    else:
        return False

In [28]:
def mult4(numero):
    if(numero % 4 == 0):
        return True
    else:
        return False

In [19]:
positivo(5)
positivo(-5)

False

In [21]:
import random

numeros = []
for _ in range(100):
    numero = random.randint(-50, 50)
    numeros.append(numero)

In [24]:
filtro = filter(positivo, numeros)
resultado = list(filtro)
print(resultado)

[50, 14, 43, 37, 19, 42, 21, 6, 29, 41, 9, 1, 3, 19, 13, 7, 25, 34, 30, 26, 36, 24, 29, 12, 4, 49, 3, 35, 39, 29, 1, 30, 28, 50, 44, 1, 3, 2, 19, 39, 6, 15, 16, 25, 8, 11, 29, 23, 15, 25, 2, 6]

### Map -Aplicar una funcion a una lista

In [26]:
def multiplicar(numero):
    return numero * 3

In [29]:
filtro = filter(mult4, numeros)
resultado = list(filtro)
print(resultado)

[-36, -24, -40, 36, -16, 0, 24, -44, 12, 4, -32, -16, -32, 28, 44, -32, -32, 16, 8, -24]

In [44]:
mapeo = map(multiplicar, resultado)
lista_map=list(mapeo)
print(lista_map)

[-108, -72, -120, 108, -48, 0, 72, -132, 36, 12, -96, -48, -96, 84, 132, -96, -96, 48, 24, -72]

In [40]:
poceso_equivalente = list(map(multiplicar,resultado))
print(poceso_equivalente)

[-108, -72, -120, 108, -48, 0, 72, -132, 36, 12, -96, -48, -96, 84, 132, -96, -96, 48, 24, -72]

In [43]:
con_lambdas=list(map(lambda numero: numero * 3, resultado))
print(con_lambdas)

[-108, -72, -120, 108, -48, 0, 72, -132, 36, 12, -96, -48, -96, 84, 132, -96, -96, 48, 24, -72]

In [45]:
import math

def es_primo(n, divisor=2):
    if n < 2:
        return False
    if divisor > math.isqrt(n):
        return True
    if n % divisor == 0:
        return False
    return es_primo(n, divisor + 1)

In [46]:
primos=[]
for n in range(100):
    if (es_primo(n)):
        primos.append(n)

print(primos)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [50]:
def primos(maximo):
    if (maximo < 100):
        for numero in range(maximo):
            if (es_primo(numero)):
                yield numero

In [52]:
list(primos(50))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [55]:
import random

ejercicio2 = []
for _ in range(50):
    numero = random.randint(-150, 150)
    ejercicio2.append(numero)

print(ejercicio2)

[-24, 72, -46, 17, 56, -91, 20, 67, -90, -124, 44, -128, 4, -35, -4, -20, 19, -141, 135, 83, 78, -37, -105, -100, 68, -21, 140, 116, -63, -118, 2, -37, 20, -72, 66, -35, 8, 113, -39, 90, -62, -29, -7, -112, -38, -47, -97, 82, 44, -39]

In [56]:
import random


ejercicio2 = [random.randint(-150, 150) for _ in range(50)]

In [59]:
def es_par(numero):
    if (numero % 2 == 0):
        return True
    else:
        return False

par=filter(es_par,ejercicio2)
par_list=list(par)
print(par_list)

[-138, 82, -38, 136, 80, 22, 150, -32, -70, -74, -18, -114, -118, -10, 84, 118, 34, -58, 50, -150, 32, 46]

In [60]:
lista3 = [random.randint(-1500, 1500) for _ in range(20)]

In [63]:
print(lista3)

[-1439, -332, 37, -404, -734, 1490, -318, -540, -180, -1295, -447, -1344, -701, 1424, -1022, 1071, 866, -524, -383, -1244]

In [61]:
lista_por10=list(map(lambda numero: numero *10,lista3))

In [62]:
print(lista_por10)

[-14390, -3320, 370, -4040, -7340, 14900, -3180, -5400, -1800, -12950, -4470, -13440, -7010, 14240, -10220, 10710, 8660, -5240, -3830, -12440]

In [64]:
import pandas as pd
import numpy as np

In [69]:
df=pd.read_csv('/home/jameto/Documentos/cursoPython/poblacion2.csv', delimiter=';')

In [71]:
df

,Continente,Densidad,Superficie,Población,País más poblado,Ciudad más poblada
0,Asia,"86,88",43.810.000,4.677.291.000,China (1.392.240.000),Tokio (35.682.000)
1,África,"32,7",30.370.000,1.110.020.000,Nigeria (191.205.000),El Cairo (16.794.000)
2,Europa,70,10.180.000,801.000.000,Rusia (112.000.000),Moscú (18.940.000)
3,América,"23,5",42.330.000,1.094.215.000,Estados Unidos (330.028.000),Ciudad de México (22.577.000)
4,Oceanía,"4,25",9.008.500,40.201.000,Australia (27.240.000),Sídney (6.550.000)
5,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
print(df.iloc[0].values)

['Asia' '86,88' '43.810.000' '4.677.291.000' 'China (1.392.240.000)'
 'Tokio (35.682.000)']

In [74]:
primera_fila=df.iloc[0]
print(primera_fila)

Continente                             Asia
Densidad                              86,88
Superficie                       43.810.000
Población                     4.677.291.000
País más poblado      China (1.392.240.000)
Ciudad más poblada       Tokio (35.682.000)
Name: 0, dtype: object

In [78]:
df.columns[0]

'Continente'

In [79]:
df['Continente']

0       Asia
1     África
2     Europa
3    América
4    Oceanía
5        NaN
6        NaN
7        NaN
8        NaN
Name: Continente, dtype: object